<p>
  This workshop is organized as a part of the <a href="https://po.usatlas.bnl.gov/">US-ATLAS</a> support center to help you be more 
  researchers.  It is being organized in conjunction with the <a href="https://first-hep.org">FIRST-HEP</a> initiative, which allows us to profit from their expertise, 
  as well as that of the <a href="{{site.swc_site}}">Software Carpentry</a>, the organization which provides this flashy page and two of your
  amazing instructors (<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Read More Here</a>).  Both of these organizations aim to help researchers 
  get their work done in less time and with less pain by teaching them basic research computing skills. 
  
  <br> 
  <br>
  
  This is a hands-on workshop that will cover basic concepts and tools,
  including version control, building code with CMake, testing your code with 
  continuous integration, and packaging/distributing your code with containers. 
  Participants will be encouraged to help one another and to apply what they 
  have learned to their own research problems.

</p>
<p align="center">
  <em>
  <font size="+2">
     Before attending the workshop, it is very important that you work through the pre-workshop exercises
     <br>
     <a href="https://adjackp.github.io/pre-workshopMaterial/">Link to pre-workshop material</a>.
  </font>
  </em>
</p>
