<h3>Pre-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Pre-workshop Material</td> <td><a href="https://adjackp.github.io/pre-workshopMaterial/">Pre-workshop Activities</a> </td> </tr>
  <tr> <td>Software Carpentry Survey</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Link to SWC Pre-Survey</a> </td> </tr>
  <tr> <td>USATLAS Survey</td> <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScMU-NV0at7eczweGOOmONm4ZNXm9LPHySPBNJm3ffjbn7IJg/viewform">Link to USATLAS Pre-Survey</a> </td> </tr>
</table>

<h3>Monday : <a href="https://map.lbl.gov/#UMAP_2012091840117%7CBLD_2012092130524">Conference Room 2-100B</a></h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="http://swcarpentry.github.io/git-novice/">Introduction to Git</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch in <a href="https://map.lbl.gov/#ctdl-UMAP_2012091840117,BLD_2012092171074">Building 54</a></td> </tr>  
  <tr> <td>13:00</td> <td><a href="https://dguest.github.io/atlas-gitlab/">ATLAS-GitLab</a> </td> </tr>
  <tr> <td>19:00</td> <td>Welcome Reception @ <a href="http://www.jupiterbeer.com">Jupiter Pizza</a></td> </tr> 
</table>

<h3>Tuesday : <a href="https://map.lbl.gov/#UMAP_2012091840117%7CBLD_2013013198726">Conference Room 33-106</a></h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="https://henryiii.github.io/cmake_workshop/">Building Code with CMake</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch in <a href="https://map.lbl.gov/#ctdl-UMAP_2012091840117,BLD_2012092171074">Building 54</a></td> </tr>  
  <tr> <td>13:00</td> <td><a href="https://kkrizka.github.io/atlas-cmake/">ATLAS-CMake</a></td> </tr>
</table>

<h3>Wednesday : <a href="https://map.lbl.gov/#UMAP_2012091840117%7CBLD_2012092130524">Conference Room 2-100B</a></h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="http://katyhuff.github.io/python-testing/">Testing in Python and CI/CD</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch in <a href="https://map.lbl.gov/#ctdl-UMAP_2012091840117,BLD_2012092171074">Building 54</a></td> </tr>  
  <tr> <td>13:00</td> <td>ATLAS-CI/CD</td> </tr>
</table>

<h3>Thursday : <a href="https://map.lbl.gov/#UMAP_2012091840117%7CBLD_2012092130524">Conference Room 2-100B</a></h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td>Distribution/Environments with Docker</td> </tr>
  <tr> <td>12:00</td> <td>Lunch in <a href="https://map.lbl.gov/#ctdl-UMAP_2012091840117,BLD_2012092171074">Building 54</a></td> </tr>  
  <tr> <td>13:00</td> <td><a href="https://danikam.github.io/2019-08-19-usatlas-recast-tutorial/">ATLAS-Docker and Analysis Preservation</a> </td> </tr>
  <tr> <td>17:00</td> <td>Coding after your PhD : Panel Discussion in <a href="https://map.lbl.gov/#UMAP_2012091840117%7CBLD_2012092130524">Perseverance Hall/Building 54</a></td> </tr> 
  <tr> <td>19:00</td> <td>Bootcamp Dinner @ <a href="https://www.greatchinaberkeley.com/">Great China</a></td> </tr> 
</table>

<h3>Friday : <a href="https://map.lbl.gov/#UMAP_2012091840117%7CBLD_2012092167088">Conference Room 15-253</a></h3>
<table class="table table-striped">
  <tr> <td>Module 1</td> <td> The "Real" Analysis Payload - EventLoop </td> </tr>
  <tr> <td>Module 2</td> <td> ML and all that jazz ... the "right" way </td> </tr> 
  <tr> <td>Module 3</td> <td> RDataFrames - Plotting Without Coding </td> </tr>
  <tr> <td>Module 4</td> <td> Documentation - Your Best Friend </td> </tr>
  <tr> <td>Module 5</td> <td> Fitting Fun with pyhf </td> </tr>
</table>

<h3>Post-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Software Carpentry Survey</td> <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Link to SWC Post-Survey</a></td> </tr>
  <tr> <td>USATLAS Survey</td> <td><a href="FILL IN LINK HERE">Link to USATLAS Post-Survey</a> </td> </tr>
</table>
