<h3>Pre-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Software Carpentry Survey</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Link to SWC Pre-Survey</a> </td> </tr>
  <tr> <td>USATLAS Survey</td> <td><a href="site.github.project_title">Link to USATLAS Pre-Survey</a> </td> </tr>
  <tr> <td>PreWork</td> <td><a href="https://adjackp.github.io/pre-workshopMaterial/">Pre-workshop Activities</a> </td> </tr>
</table>

<h3>Monday</h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="http://swcarpentry.github.io/git-novice/">Introduction to Git</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch</td> </tr>  
  <tr> <td>13:00</td> <td><a href="https://dguest.github.io/atlas-gitlab/">ATLAS-GitLab</a> </td> </tr>
  <tr> <td>12:00</td> <td>Welcome Reception @ <a href="http://www.jupiterbeer.com">Jupiter Pizza</a></td> </tr> 
</table>

<h3>Tuesday</h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="FILL IN LINK HERE">Building Code with CMake</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch</td> </tr>  
  <tr> <td>13:00</td> <td><a href="FILL IN LINK HERE">ATLAS-CMake</a> </td> </tr>
  
</table>

<h3>Wednesday</h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="http://katyhuff.github.io/python-testing/">Testing in Python and CI/CD</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch</td> </tr>  
  <tr> <td>13:00</td> <td><a href="">ATLAS-CI/CD</a> </td> </tr>
</table>

<h3>Thursday</h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="FILL IN LINK HERE">Distribution/Enviornments with Docker</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch</td> </tr>  
  <tr> <td>13:00</td> <td><a href="">ATLAS/GitLab</a> </td> </tr>
  <tr> <td>17:00</td> <td>Coding after your PhD - Panel Discussion</td> </tr> 
  <tr> <td>19:00</td> <td>Bootcamp Dinner @ <a href="https://www.greatchinaberkeley.com/">Great China</a></td> </tr> 
</table>

<h3>Friday</h3>
<table class="table table-striped">
  <tr> <td>Module 1</td> <td> The "Real" Analysis Payload - EventLoop </td> </tr>
  <tr> <td>Module 2</td> <td> Debugging the Proper Way - GDB </td> </tr>
</table>

<h3>Post-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Software Carpentry Survey</td> <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Link to SWC Post-Survey</a></td> </tr>
  <tr> <td>USATLAS Survey</td> <td><a href="FILL IN LINK HERE">Link to USATLAS Post-Survey</a> </td> </tr>
</table>
