<h3>Pre-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Software Carpentry Survey</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Link to Pre-Survey</a> </td> </tr>
  <tr> <td>USATLAS Survey</td> <td><a href="site.github.project_title">Link to Survey</a> </td> </tr>
  <tr> <td>PreWork</td> <td><a href="https://adjackp.github.io/pre-workshopMaterial/">Pre-workshop Activities</a> </td> </tr>
</table>

<h3>Day 1</h3>
<table class="table table-striped">
  <tr> <td>09:00</td> <td><a href="site.github.project_title">Pre-workshop survey</a> </td> </tr>
  <tr> <td>12:00</td> <td>Lunch</td> </tr>  
  <tr> <td>13:00</td> <td><a href="https://adjackp.github.io/pre-workshopMaterial/">Pre-workshop survey</a> </td> </tr>
  <tr> <td>12:00</td> <td>Welcome Reception @ Jupiter Pizza</td> </tr> 
</table>

<h3>Post-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Software Carpentry Survey</td> <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Link to Post-Survey</a></td> </tr>

</table>
