<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Making a merge request</li>
      <li>Organizing a project with submodules</li>
      <li>Usage of CERN GitLab</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-cmake">CMake</h3>
    <ul>
      <li>Building a basic program</li>
      <li>Usage of libraries</li>
      <li>ATLAS CMake wrappers</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Continuous Integration</h3>
    <ul>
      <li>Writing automated tests for code</li>
      <li>Running automated tests with CI</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Docker</h3>
    <ul>
      <li>Packaging a project in an image</li>
      <li>Analysis preservation</li>
      <li>RECAST and REANA</li>
    </ul>
  </div>
</div>
