<p id="who">
  <strong>Who:</strong>
  The course is primarily aimed at graduate students within the ATLAS experimental collaboration.  However, the morning sessions of each
  day may be relevant to other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.  However, if you will be participating in the afternoon sessions, you should have completed the
    <a href="https://adjackp.github.io/pre-workshopMaterial/">pre-workshop material</a>.  
  </strong>
</p>
